<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="reglogic" method="get">

<input type="radio" name="course" value="PYTHON" />PYTHON<input type="radio" name="course" value="PHP" />PHP<br><br>
<input type="checkbox" name="c[]" value="C" />C<input type="checkbox" name="c[]" value="CPP" />CPP<input type="checkbox" name="c[]" value="DS" />DS<br><br>
<select name="country">
	<option value="">Select Country</option>
    <option value="India">India</option>
    <option value="USA">USA</option>
    <option value="CHINA">CHINA</option>
</select>
<br><br>
<select name="state[]" multiple="">
	
    <option value="MP">MP</option>
    <option value="UP">UP</option>
    <option value="AP">AP</option>
    <option value="HP">HP</option>
</select>
<br><br>
<textarea name="txtpost"> </textarea>
<br><br>
<input type="submit" name="btnsubmit" value="Click" />
</form>
<a href="viewall">View All</a>
</body>
</html>